body {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-left: 18%;
}
.container {
    margin-top: 20px;
}
.chart-container {
    position: relative;
    margin: auto;
    height: 400px;
    width: 80%;
}
@media print {
    body {
        margin: 0;
        padding: 0;
    }
    .no-print {
        display: none;
    }
}